*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fa0000;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #207e66,
        #63bda6
    );
    left: -100px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #207e66,
        #63bda6
    );
    right: -100px;
    bottom: -80px;
}

form{
    height: 750px;
    width: 450px;
    background-color: #027368;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(13, 156, 113, 0.322);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: rgb(243, 227, 227);
    letter-spacing: 0.25px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
form button{
    margin-top: 20px;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}

button{
    border-radius: 20px;
    margin-top: 100px;
    width: 100%;
    background-color: #04bfac9a;
    color: #ffff;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 9px;
    cursor: pointer;
}