<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../../css/esquecisenha.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <title>Mais configuraçoes</title>
</head>

<body class="aw-layout-simple-page">
<div class="aw-layout-simple-page__container">

  <form>
    <div class="aw-simple-panel">
      <img/>

      <div class="aw-simple-panel__message">
       Mais informaçoes sobre sua conta
      </div>

      <div class="aw-simple-panel__box">
        <div class="form-group">
          <button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width" style="background-color: #038C7f" onclick= "window.open('/login')" >log out</button>
          <br><br>
          <button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width" style="background-color: #038C7f" onclick= "window.open('../index')" >Apagar conta</button>
        </div>
      </div>
    </div>
  </form>

</div>

<script src="assets/javascripts/vendors.min.js"></script>
<script src="assets/javascripts/algaworks.min.js"></script>
</body>
</html>